@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.app-container {
  display: flex;
  background-color: #f6f5ff;
  align-items: flex-start; 
}

.main-content {
  flex-grow: 1;
  width: 100%;
  min-width: 0; 
  position: relative;
}